body, html {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

table {
    text-align: center;
    white-space: nowrap;
    border-spacing: 0;
    position: absolute;
    left: 30px;
    top: 30px;
    margin: auto;
}

th, td {
    min-width: 120px;
    height: 40px;
}

tr:nth-child(2n+2) {
    background-color: #e1e1e1;
}
thead th {
    background-color: #92c9de;
    position: sticky;
    top: 0;
}

tbody th {
    background-color: #92c9de;
    position: sticky;
    left: 0;
}

thead th:first-child {
    left: 0;
    z-index: 1;
}
